[submodule "weather"]
	path = weather
	url = https://github.com/it-cio/weather
[submodule "covid"]
	path = covid
	url = https://github.com/it-cio/covid
[submodule "asterisk"]
	path = asterisk
	url = https://github.com/it-cio/asterisk
[submodule "telegram"]
	path = telegram
	url = https://github.com/it-cio/telegram
[submodule "data"]
	path = data
	url = http://github.com/it-cio/data
